.currentSpots {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;

}

.currentSpot {
    width: 23%;
}

.currentSpot > .spot {
    width:100%;
}

.spot > a {
    width: 100%;
}

a > .spotImage {
    width: 100%;
}

.updateSpotButt {
    margin-right: 1em;
}

.newSpotBut {
    margin-bottom: 2em;
}

@media screen and (max-width: 750px) {

    .currentSpot {
        width: 32%;
    }
}

@media screen and (max-width: 500px) {

    .currentSpot {
        width: 49%;
    }
}

@media screen and (max-width: 300px) {

    .currentSpot {
        width: 100%;
    }
}
